In [78]:
import pandas as pd

fuel = pd.read_csv("data/fuel.csv", sep=";")[:-1]
fuel = fuel.replace(',','.', regex = True)
fuel [["Benzine","Diesel","LPG"]] = fuel[["Benzine", "Diesel","LPG"]].applymap(lambda x: float(x))

C:\Users\Fos van der Meer\AppData\Local\Temp\ipykernel_26964\1972635602.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  fuel [["Benzine","Diesel","LPG"]] = fuel[["Benzine", "Diesel","LPG"]].applymap(lambda x: float(x))

numpy.float64

In [68]:
fuel[["Benzine"]][:10]

fuel["Jaar"] = [int(datum[:4]) for datum in fuel["Perioden"]]
dates = [date.split(sep= " ") for date in fuel["Perioden"]]
fuel["Maand"] = [date[-1] for date in dates]
fuel.head()

dct = {"januari": 1, "februari": 2, "maart": 3, "april": 4, "mei": 5, "juni": 6, "juli":7, "augustus": 8, "september":9, "oktober":10, "november":11, "december":12}
fuel["Maand index"] = fuel["Maand"].map(dct)

fuel.isna().any()

Perioden       False
Benzine        False
Diesel         False
LPG            False
Jaar           False
Maand          False
Maand index    False
dtype: bool

In [63]:
years = [fuel[fuel["Jaar"] == year] for year in range(2006, 2024)]
years[0][(years[0]["Maand index"]-1)//3 == 0]

years2 = fuel.groupby(["Jaar", "Maand index"])
years2.sum()

                                                           Perioden  \
Jaar Maand index
2006 1            2006 zondag 1 januari2006 maandag 2 januari200...
     2            2006 woensdag 1 februari2006 donderdag 2 febru...
     3            2006 woensdag 1 maart2006 donderdag 2 maart200...
     4            2006 zaterdag 1 april2006 zondag 2 april2006 m...
     5            2006 maandag 1 mei2006 dinsdag 2 mei2006 woens...
...                                                             ...
2023 6            2023 donderdag 1 juni2023 vrijdag 2 juni2023 z...
     7            2023 zaterdag 1 juli2023 zondag 2 juli2023 maa...
     8            2023 dinsdag 1 augustus2023 woensdag 2 augustu...
     9            2023 vrijdag 1 september2023 zaterdag 2 septem...
     10                 2023 zondag 1 oktober2023 maandag 2 oktober

                                                            Benzine  \
Jaar Maand index
2006 1            1.3251.3281.3321.3481.3471.3531.3611.3601.3621...
     2            1.3601.3601.3531.3441.3441.3421.3411.3411.3361...
     3            1.3221.3241.3291.3331.3331.3341.3351.3291.3261...
     4            1.4071.4051.4061.4061.4071.4071.4191.4211.4211...
     5            1.4321.4371.4491.4551.4561.4411.4411.4401.4371...
...                                                             ...
2023 6            1.8121.8081.8061.8071.8101.8121.8111.8151.8231...
     7            1.9711.9731.9761.9751.9721.9721.9691.9681.9671...
     8            2.0602.0652.0712.0702.0672.0692.0702.0732.0682...
     9            2.1052.1032.1032.1072.1062.1012.0972.0962.1012...
     10                                                  2.1042.104

                                                             Diesel  \
Jaar Maand index
2006 1            1.0031.0071.0071.0201.0211.0231.0221.0221.0241...
     2            1.0321.0311.0281.0241.0241.0241.0261.0261.0201...
     3            1.0261.0311.0431.0531.0521.0531.0551.0491.0471...
     4            1.0621.0621.0621.0631.0631.0611.0591.0571.0561...
     5            1.0831.0841.0861.0891.0871.0751.0721.0731.0691...
...                                                             ...
2023 6            1.5021.4991.4951.4941.5021.5071.5061.5111.5151...
     7            1.6351.6381.6431.6431.6391.6411.6441.6431.6421...
     8            1.7551.7701.7901.7941.7931.7971.8001.7991.7961...
     9            1.8541.8541.8521.8581.8561.8561.8611.8641.8751...
     10                                                  1.9331.936

                                                                LPG  \
Jaar Maand index
2006 1            0.5430.5420.5400.5500.5500.5490.5550.5500.5540...
     2            0.5670.5660.5670.5640.5650.5640.5650.5590.5580...
     3            0.5350.5320.5300.5250.5280.5270.5270.5230.5220...
     4            0.5170.5170.5190.5210.5290.5300.5280.5280.5300...
     5            0.5100.5100.5060.5030.5040.5000.5010.5030.5020...
...                                                             ...
2023 6            0.7530.7490.7600.7470.7480.7430.7430.7400.7340...
     7            0.7440.7520.7490.7420.7410.7350.7300.7330.7320...
     8            0.7240.7250.7260.7300.7290.7300.7310.7240.7330...
     9            0.7510.7510.7510.7490.7520.7540.7510.7610.7610...
     10                                                  0.7940.809

                                                              Maand
Jaar Maand index
2006 1            januarijanuarijanuarijanuarijanuarijanuarijanu...
     2            februarifebruarifebruarifebruarifebruarifebrua...
     3            maartmaartmaartmaartmaartmaartmaartmaartmaartm...
     4            aprilaprilaprilaprilaprilaprilaprilaprilaprila...
     5            meimeimeimeimeimeimeimeimeimeimeimeimeimeimeim...
...                                                             ...
2023 6            junijunijunijunijunijunijunijunijunijunijuniju...
     7            julijulijulijulijulijulijulijulijulijulijuliju...
     8            augustusaugustusaugustusaugustusaugustusaugust...
     9            septemberseptemberseptemberseptemberseptembers...
     10                                              oktoberoktober

[214 rows x 5 columns]

In [40]:
8//4

2