In [2]:
import pandas as pd

fuel = pd.read_csv("data/fuel.csv", sep=";")[:-1]
fuel = fuel.replace(',','.', regex = True)
fuel.head()

                   Perioden Benzine Diesel    LPG
0     2006 zondag 1 januari   1.325  1.003  0.543
1    2006 maandag 2 januari   1.328  1.007  0.542
2    2006 dinsdag 3 januari   1.332  1.007  0.540
3   2006 woensdag 4 januari   1.348  1.020  0.550
4  2006 donderdag 5 januari   1.347  1.021  0.550

In [10]:
fuel[["Benzine"]][:10]

fuel["Jaar"] = [int(datum[:4]) for datum in fuel["Perioden"]]
dates = [date.split(sep= " ") for date in fuel["Perioden"]]
fuel["Maand"] = [date[-1] for date in dates]
fuel.head()

dct = {"januari": 1, "februari": 2, "maart": 3, "april": 4, "mei": 5, "juni": 6, "juli":7, "augustus": 8, "september":9, "oktober":10, "november":11, "decemer":12}
fuel["Maand index"] = fuel["Maand"].map(dct)
fuel.head()

                   Perioden Benzine Diesel    LPG  Jaar    Maand  Maand index
0     2006 zondag 1 januari   1.325  1.003  0.543  2006  januari          1.0
1    2006 maandag 2 januari   1.328  1.007  0.542  2006  januari          1.0
2    2006 dinsdag 3 januari   1.332  1.007  0.540  2006  januari          1.0
3   2006 woensdag 4 januari   1.348  1.020  0.550  2006  januari          1.0
4  2006 donderdag 5 januari   1.347  1.021  0.550  2006  januari          1.0

In [6]:
fuel.head()

                   Perioden Benzine Diesel    LPG  Jaar    Maand
0     2006 zondag 1 januari   1.325  1.003  0.543  2006  januari
1    2006 maandag 2 januari   1.328  1.007  0.542  2006  januari
2    2006 dinsdag 3 januari   1.332  1.007  0.540  2006  januari
3   2006 woensdag 4 januari   1.348  1.020  0.550  2006  januari
4  2006 donderdag 5 januari   1.347  1.021  0.550  2006  januari