In [12]:
import pandas as pd
import matplotlib.pyplot as plt

fuel = pd.read_csv("data/fuel.csv", sep=";")[:-1]
fuel = fuel.replace(',','.', regex = True)
fuel[["Benzine","Diesel","LPG"]] = fuel[["Benzine", "Diesel","LPG"]].map(lambda x: float(x))

In [1]:
dates = [date.split(sep= " ") for date in fuel["Perioden"]]
fuel["Jaar"] = [date[0] for date in dates]

dct = {"januari": 1, "februari": 2, "maart": 3, "april": 4, "mei": 5, "juni": 6,\
        "juli":7, "augustus": 8, "september":9, "oktober":10, "november":11, "december":12}
fuel["Maand"] = [dct[date[-1]] for date in dates]
fuel["Kwartaal"] = [1+(maand-1)//3 for maand in fuel["Maand"]]
fuel.head()

print("Any empty values:", fuel.isna().any(), sep="\n")
print(fuel.head())

NameError: name 'fuel' is not defined

In [25]:
years2 = fuel.groupby(["Jaar", "Kwartaal"])
meandata = years2["Diesel"].mean()[:-1] #remove last quarter since it is incomplete.

#meandata.plot()

In [23]:
meandata

Jaar  Kwartaal
2006  1           1.027789
      2           1.076604
      3           1.068043
      4           1.000435
2007  1           0.988733
                    ...
2022  3           2.013902
      4           1.917250
2023  1           1.702144
      2           1.536154
      3           1.797511
Name: Diesel, Length: 71, dtype: float64

In [19]:
fuel.tail()

,Perioden,Benzine,Diesel,LPG,Jaar,Maand,Kwartaal
6479,2023 donderdag 28 september,2.114,1.938,0.797,2023,9,3
6480,2023 vrijdag 29 september,2.112,1.936,0.799,2023,9,3
6481,2023 zaterdag 30 september,2.102,1.932,0.798,2023,9,3
6482,2023 zondag 1 oktober,2.104,1.933,0.794,2023,10,4
6483,2023 maandag 2 oktober,2.104,1.936,0.809,2023,10,4