In [60]:
import pandas as pd

fuel = pd.read_csv("data/fuel.csv", sep=";")[:-1]
fuel = fuel.replace(',','.', regex = True)
fuel.head()

                   Perioden Benzine Diesel    LPG
0     2006 zondag 1 januari   1.325  1.003  0.543
1    2006 maandag 2 januari   1.328  1.007  0.542
2    2006 dinsdag 3 januari   1.332  1.007  0.540
3   2006 woensdag 4 januari   1.348  1.020  0.550
4  2006 donderdag 5 januari   1.347  1.021  0.550

In [63]:
fuel[["Benzine"]][:10]

fuel["Jaar"] = [int(datum[:4]) for datum in fuel["Perioden"]]
fuel.head()
#hallo

                   Perioden Benzine Diesel    LPG  dateindex  Jaar
0     2006 zondag 1 januari   1.325  1.003  0.543       2006  2006
1    2006 maandag 2 januari   1.328  1.007  0.542       2006  2006
2    2006 dinsdag 3 januari   1.332  1.007  0.540       2006  2006
3   2006 woensdag 4 januari   1.348  1.020  0.550       2006  2006
4  2006 donderdag 5 januari   1.347  1.021  0.550       2006  2006